.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 1;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav_left img {
    width: 90px;
}

.nav_left ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.nav_left ul li {
    cursor: pointer;

}

.nav_right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav_right .icon{
    width: 20px;
    cursor: pointer;
}

.nav_right .profile{
 border-radius: 4px;
 width: 35px;
}

.navbar_profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px ;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
    transition: all 0.3s;
}

.dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar_profile:hover .dropdown{
    display: block;
}

.nav_dark{
    background: #141414da;
    transition:  0.9s;
}

@media (max-width:930px){
    .navbar{
        padding: 20px 4%;
    }
    .nav_left ul{
        display: none;
    }
    .navbar img{
        width: 25px;
    }
   .nav_left .logo{
        width: 75px;
    }
}

@media (max-width:500px){
    .navbar img{
        width: 20px;
    }
    .nav_right{
        gap: 10px;
    }
    .logo{
        width: 75px;
    }
}